@require '~styl/base/palette.styl'

.queries-table
  &__col-query-text
    font-family monospace
    white-space pre-wrap

.queries-screen
  &__last-hour-note
    margin-left 3px
    font-style italic
    color $body-color

.plan-node
  font-family monospace

  ul
    padding-left 20px

  &__name
    font-weight bold

  &__attr-key
    color orange
    margin-left 5px

  &__attr-value
    color green
