table.span-log
  border-collapse collapse
  background white
  border 1px solid black

  th
    border-bottom 1px solid black

  th:last-child
    border-left 1px solid lightgray

  td
    padding 5px
    border 1px solid lightgray
