@require '~src/views/shared/util/table.styl'

.data-distribution
  display: flex

  &__zone-config-sidebar
    padding-right 20px

.zone-config
  padding-top 10px

  &__raw-yaml
    padding-top 5px

.range-log
  @extend $table-base

  &__info
    font-family monospace
    white-space pre
